<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>52 Week Savings Challenge</title>
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">

    <link href="/52week.css" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/home}">
                <img src="/logo.jpg"
                     alt="logo" height="100px" width="150px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/challenges/main}">Challenges</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button id="logout" class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div id="challengeBody">
    <div id="challengeHeading">
        <h1>52 Week Savings Challenge</h1>
        <div id="challengesP">
            <img src="">
            <p>The 52 Week Saving’s Challenge is by far one of the most popular of the challenges! Each week, for 52
                weeks [one year], you’ll put away a pre selected amount!
                All you have to do here is determine your amount you’ll be saving, jot it down and watch as your savings
                grow!</p>
            <img src="">
        </div>
    </div>
</div>
<div id="header52">
    <h1>Week Number</h1>
    <h1>Weekly Deposit</h1>
    <h1>Total Savings</h1>
</div>
<div id="added"></div>
<hr>
<div id="why">
    <div id="whyHeader">
        <h1>What’s your Why?</h1>
        <p>Why are you saving? What is it that you’re saving for?</p>
    </div>
    <div id="whyBox">
        <form th:method="post" th:action="@{/why/52week}" th:object="${why}">
<!--            <input type="text" id="whyText" th:field="*{description}"/>-->
            <button type="submit" id="profileWhyButton">Let's Do This!</button>
        </form>
    </div>
    <div id="whyEdit"></div>
    <div id="whyDelete"></div>
</div>
</body>
</html>