<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Money Saving Bingo</title>
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">


    <link href="/bingo.css" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/logo.jpg"
                     alt="logo" height="100px" width="150px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/challenges/main}">Challenges</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button id="logout" class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div id="bingoBody">
    <div id="bingoHeader">
        <h1>Money Saving Blackout Bingo</h1>
        <div id="bingoP">
            <img src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-lottery-gambling-justicon-lineal-justicon.png"
                 alt="bing icon" style="margin-right: 50px">
            <p>The Money Saving Blackout Bingo Challenge is a favorite because who doesn’t love bingo! The name of the
                game
                here is to each [day, week or month] save whatever the amount is on the card you chose!
                Once you click on the amount you want you won’t be able to select that one anymore.
                Once you’re done your total amount saved will display at the bottom!</p>
        </div>
    </div>
    <div id="bingoBoard">
        <div class="bingoTileWhole">
            <h1 class="bingoTile" id="1" value="52">$52</h1>
            <h1 class="bingoTile" id="2" value="52">$52</h1>
            <h1 class="bingoTile" id="3" value="52">$52</h1>
            <h1 class="bingoTile" id="4" value="52">$52</h1>
            <h1 class="bingoTile" id="5" value="52">$52</h1>

            <h1 class="bingoTile" id="6" value="52">$52</h1>
            <h1 class="bingoTile" id="7" value="52">$52</h1>
            <h1 class="bingoTile" id="8" value="52">$52</h1>
            <h1 class="bingoTile" id="9" value="52">$52</h1>
            <h1 class="bingoTile" id="10" value="52">$52</h1>

            <h1 class="bingoTile" id="11" value="52">$52</h1>
            <h1 class="bingoTile" id="12" value="52">$52</h1>
            <h1 class="bingoTile" id="free" value="0">Free</h1>
            <h1 class="bingoTile" id="13" value="52">$52</h1>
            <h1 class="bingoTile" id="14" value="52">$52</h1>

            <h1 class="bingoTile" id="15" value="52">$52</h1>
            <h1 class="bingoTile" id="16" value="52">$52</h1>
            <h1 class="bingoTile" id="17" value="52">$52</h1>
            <h1 class="bingoTile" id="18" value="52">$52</h1>
            <h1 class="bingoTile" id="19" value="52">$52</h1>

            <h1 class="bingoTile" id="20" value="52">$52</h1>
            <h1 class="bingoTile" id="21" value="52">$52</h1>
            <h1 class="bingoTile" id="22" value="52">$52</h1>
            <h1 class="bingoTile" id="23" value="52">$52</h1>
            <h1 class="bingoTile" id="24" value="52">$52</h1>


        </div>
    </div>
    <h1>Total Saved: $52</h1>
</div>
<hr>
<div id="why">
    <div id="whyHeader">
        <h1>What’s your Why?</h1>
        <p>Why are you saving? What is it that you’re saving for?</p>
    </div>
    <div id="whyBox"></div>
    <div id="whyEdit"></div>
    <div id="whyDelete"></div>
</div>
</body>
</html>