<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Challenges Main</title>
    <link rel="stylesheet" href="/challenges.css">

    <!--  Google Fonts   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<!--<li>-->
<!--    <form th:action="@{/logout}" th:method="post">-->
<!--        <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
<!--    </form>-->
<!--</li>-->
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/}">
                <img id="logoImg" src="/logo.jpg" alt="logo" width="150px" height="100px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button id="logout" class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div id="challengesBody">
    <div id="challengesHeader">
        <h1 id="title">Savings Challenges</h1>
        <h2>This is the fun part! Pick a challenge below to kick start your savings journey!</h2>
    </div>
    <div id="weekChallenge">
        <h1>52 Week Challenge</h1>
        <form th:action="@{/challenges/52Week}" th:method="post">
            <button class="btn">Start</button>
        </form>
    </div>
    <div id="weatherChallenge">
        <h1>Weather Challenge</h1>
        <form th:action="@{/challenges/weather}" th:method="post">
            <button class="btn">Start</button>
        </form>
    </div>
    <div id="noSpendChallenge">
        <h1>No Spend Challenge</h1>
        <form th:action="@{/challenges/noSpend}" th:method="post">
            <button class="btn">Start</button>
        </form>
    </div>
    <div id="bingoChallenge">
        <h1>Money Saving Bingo</h1>
        <form th:action="@{/challenges/bingo}" th:method="post">
            <button class="btn">Start</button>
        </form>
    </div>
</div>
</body>
</html>