<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/login.css" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/home}">
                <img src="/logo.jpg" alt="logo" height="100px" width="150px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <li><a th:href="@{/challenges/main}">Challenges</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container text-center">
        <h1>Sign In</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <br>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <label for="username">Username</label><br>
            <input id="username" name="username" type="text"/><br>
            <label for="password">Password</label><br>
            <input id="password" name="password" type="password"/><br>
            <input id="btn" type="submit" value="Login"/>
        </form>
        <a href="/register">Not Registered?</a>
    </div>

</div>
</body>
</html>