<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>No Spend Challenge</title>
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">

    <link href="/nospend.css" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/logo.jpg"
                     alt="logo" height="100px" width="150px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/challenges/main}">Challenges</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button id="logout" class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div id="spendBody">
    <div id="spendHeader">
        <h1>No Spend Challenge</h1>
        <div id="spendP">
            <img src="/pig.gif" alt="icon" width="100 px" height="100 px">
            <p>The no spend challenge is designed to show you discipline in your spending and to highlight the positive
                effects of saving!
                Each week you can come here and jot down anything you see that you wanted to buy but didn’t and how much
                it woudlv’e cost. At the end of the week you’ll be able to see how much you saved!
            </p>
        </div>
    </div>
    <div id="backgroundCard">
        <div id="descriptionHeader">
            <h1>Description</h1>
            <h1>Amount</h1>
        </div>
        <div id="items">

        </div>
        <div id="addItem">
            <form method="GET" th:action="@{/challenges/noSpend}">
                <button id="addItemButton" type="submit"><img id="addIcon" src="https://img.icons8.com/ios/50/000000/add--v1.png"/></button>
            </form>
        </div>
    </div>
    <h1>Total Saved: $141</h1>
</div>
<hr>
<div id="why">
    <div id="whyHeader">
        <h1>What’s your Why?</h1>
        <p>Why are you saving? What is it that you’re saving for?</p>
    </div>
    <div id="whyBox"></div>
    <div id="whyEdit"></div>
    <div id="whyDelete"></div>
</div>
</body>
</html>