<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">

    <link href="/profile.css" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/home}">
                <img src="/logo.jpg"
                     alt="logo" height="100px" width="150px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/challenges/main}">Challenges</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button id="logout" class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div id="profileBody">
    <div id="profileHeader">
        <h1>Profile</h1>
    </div>
    <div id="profileInfo" th:each="user:${user}">
        <div id="firstName">
            <h1>First Name</h1>
            <h2 class="card" th:text="${user.firstName}"></h2>
        </div>
        <div id="lastName">
            <h1>Last Name</h1>
            <h2 class="card" th:text="${user.lastName}"></h2>
        </div>
        <div id="username">
            <h1>Username</h1>
            <h2 class="card" th:text="${user.username}"></h2>
        </div>
        <div id="email">
            <h1>Email</h1>
            <h2 class="card" th:text="${user.email}"></h2>
        </div>
    </div>
    <div id="why">
        <div id="whyHeader">
            <h1>What’s your Why?</h1>
            <p>Why are you saving? What is it that you’re saving for?</p>
        </div>
        <div id="whyBox">
            <form th:method="post" th:action="@{/why/profile}" th:object="${why}">
                <!--                <input type="text" id="whyText" th:field="*{description}">-->
                <!--                <button type="submit" id="profileWhyButton">Let's Do This!</button>-->
            </form>
        </div>
        <div id="whyEdit"></div>
        <div id="whyDelete"></div>
    </div>
</div>
</body>
</html>