<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/register.css" rel="stylesheet">
    <!--  Google Fonts Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <nav>
        <div id="navigationBody">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="/logo.jpg" alt="logo" height="100px" width="150px">
                </a>
            </div>
            <ul id="listItems">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/resources}">Resources</a></li>
            </ul>
        </div>
    </nav>
    <div id="registerBody">
        <h1>Register</h1>
        <div id="register">
            <form th:action="@{/register}" method="POST" th:object="${user}">
                <label for="firstName">First Name</label>
                <input id="firstName" th:field="*{firstName}"/>

                <label for="lastName">Last Name</label>
                <input id="lastName" th:field="*{lastName}"/>

                <label for="email">Email</label>
                <input id="email" th:field="*{email}"/>

                <label for="username">Username</label>
                <input id="username" th:field="*{username}"/>

                <label for="password">Password</label>
                <input id="password" th:field="*{password}"/>

                <input class="btn" value="Create Account!" type="submit"/>
            </form>
        </div>

    </div>
</div>
</body>
</html>