<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
    <link href="/resources.css" rel="stylesheet">
    <!--  Google Fonts Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap" rel="stylesheet">
</head>
<body>
<script src="/youtube.js"></script>
<div class="container">
    <nav>
        <div id="navigationBody">
            <div class="logo">
                <a th:href="@{/home}">
                    <img src="/logo.jpg"
                         alt="logo" height="100px" width="150px">
                </a>
            </div>
            <ul id="listItems">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/challenges/main}">Challenges</a></li>
            </ul>
        </div>
    </nav>
    <div id="resourcesHeader">
        <h1>Resources</h1>
    </div>
    <div id="resourcesBody">
        <img class="img"
             src="https://thumbs.gfycat.com/CaringAntiqueGuppy-max-1mb.gif"
             alt="finances" width="300px" height="200px" style="{display: flex}">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate volutpat vitae cras leo tempus non nisl.
            Dignissim id quis sed posuere arcu. Porttitor mattis tortor neque morbi tellus risus. Aenean turpis neque mi
            in mauris volutpat nulla nam. Est phasellus tortor ut neque. Velit leo nec cursus penatibus pellentesque
            ornare faucibus curabitur. In eget et mi aliquet eu augue viverra diam. Purus dictum massa tempor cras
            aliquet turpis. Quam montes, ultricies sed egestas eu libero augue. Turpis imperdiet mauris ullamcorper sed
            faucibus scelerisque. Eleifend elementum ut rhoncus integer aliquet leo. Id in porta amet, id facilisis
            maecenas. At nec lorem a non purus ut diam turpis. Posuere tristique quam eu venenatis diam et.</p>
        <sub>Saving's</sub>
        <p>Aenean at at tellus donec vulputate. Suspendisse malesuada elementum sodales enim aliquam sit ut. Massa
            ullamcorper volutpat sagittis luctus integer purus. Nec ut ultrices lacus, laoreet aliquam eget. Nisi id
            enim nec maecenas. Ut semper ultrices libero sit in molestie vulputate malesuada. Commodo vitae ante semper
            dignissim volutpat justo, nisi tincidunt sapien. Pellentesque elementum aliquam amet tincidunt ut. Bibendum
            suspendisse faucibus pulvinar aliquam sed. Ac viverra mollis eleifend in elit porttitor dolor at. Diam nunc
            nunc platea pretium iaculis nulla purus elementum a. Ornare morbi eu nec velit integer ante velit
            parturient. Gravida orci arcu eget diam sit eu, pretium lectus non. Orci phasellus et nullam dui cursus.</p>
        <sub>Finances</sub>
        <img class="img"
             src="https://media4.giphy.com/media/26u4lKxbJacRqUr1m/giphy.gif"
             alt="saving" width="300px" height="200px">

    </div>
</div>
<div id="relatedVideos">
    <h1>Related Videos</h1>
    <div id="relatedVideosP">
        <p>Here is a youtube challenge that gives a lot of great tips and advice about different saving's challenges as
            well as budgeting and so much more!<br>
            <br>These are just preview images to give you an idea of what type of content they have! <br>
            channel!</p>
        <a href="https://www.youtube.com/channel/UCaL8K8g8y8K4_CvNuN0BDtg">Click Here To Be Routed To Their Youtube Videos</a>
    </div>
    <div class="youtubeVideos">


    </div>
</div>
</body>
</html>