<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Savings Challenge</title>
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">

    <link href="/weather.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<nav>
    <div id="navigationBody">
        <div class="logo">
            <a th:href="@{/home}">
                <img src="/logo.jpg"
                     alt="logo" height="100px" width="100px">
            </a>
        </div>
        <ul id="listItems">
            <li><a th:href="@{/challenges/main}">Challenges</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button id="logout" class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div id="weatherBody">
    <div id="weatherHeader">
        <div id="weatherTitle">
            <h1>Weather Saving’s Challenge</h1>
            <img src="/sun.svg" alt="sun" width="150px" height="100px">
        </div>
        <div id="weatherP">
            <img src="/light.gif" alt="light" height="75px" width="75px">
            <p>The Weather Saving’s Challenge is a fun and random challenge because the amount of money you save is
                based off of the temperature of that day you chose!
                Pick a day of the week you want to start, then come and track how much your savings grow!</p>
        </div>
    </div>
    <div id="date">
        <h1>Today's Date</h1>
        <h1>12/20/2021</h1>
    </div>
    <div id="weather">
        <h1>Today's Weather</h1>
        <h1 id="currentWeather"></h1>
        <p id="notification"></p>
    </div>
    <div id="entry">
        <h1>Today's Entry</h1>
        <h1>$75</h1>
    </div>
    <div id="saved">
        <h1>Total Saved</h1>
        <h1>$75</h1>
    </div>
</div>
<hr>
<div id="why">
    <div id="whyHeader">
        <h1>What’s your Why?</h1>
        <p>Why are you saving? What is it that you’re saving for?</p>
    </div>
    <div id="whyBox">
        <form th:method="post" th:action="@{/why}" th:object="${why}">
            <input type="text" th:field="">
        </form>
    </div>
    <div id="whyEdit"></div>
    <div id="whyDelete"></div>
</div>
<script src="/weather.js"></script>
</body>
</html>